.container-fluid{
    align-items:center;
}

.container-fluid h4{
    margin: 0%;
    padding: 0%;
    font-size: 130%;
    margin-right: 1%;
}

.logout{
    background-color:rgb(255, 255, 255);
    padding: 10px;
    border: 0px;
    border-radius: 15px;
    font-weight: 600;
    padding-top: 10px;
    transition: 1s;
}

.logout:hover{
        box-shadow: 0px 0px 20px #2e56c3;
    background-color: rgb(0, 136, 255);
    color: black;
    font-weight: 600;
    transform: scale(1.05) translateY(-1px);
}


/**/

.notes h1{
    margin-top: 1%;
    margin-bottom: 0%;
    text-align: center;
    color: rgb(0, 68, 255);
    font-weight: 700;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.notes h4{
    text-align: center;
    color: rgb(255, 67, 67);
    font-size: 200%;
}

.item {
    border-radius: 10px;
    background-color: rgba(18, 18, 18, 0.812);
    color: rgb(255, 255, 255);
    border: 1px solid rgba(193, 193, 193, 0.175);
    padding: 1%;

    transition: 0.5s;
}

.item:hover{
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 5px 5px 25px rgb(178, 178, 178) ;
    transform: scale(1.02);
}

.item:hover .card-title{
    color: black;
}

.notes-heading{
    display: flex;
    justify-content:space-between ;
   align-items: flex-start;

}

.card-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 800;
    font-size: 27px;
    color: aqua;

      overflow: hidden;
    word-break: break-word;   
  overflow-wrap: break-word;

}

.textarea{
    height: 150px;
    resize: none;
}

.notes-right {
  flex-shrink: 0; /* prevent icons from shrinking or moving */
}

.edit{
    color: rgb(14, 205, 46);
    font-size: 20px ;
    transition: 1s;
    cursor: pointer;
}

.edit:hover{
    transform: scale(1.1);
    text-shadow: 0 0 15px green;
    
}

.delete{
    color: rgb(255, 69, 69);
    font-size: 20px;
    cursor: pointer;
    transition: 1s;
}

.delete:hover{
    transform: scale(1.1);
    text-shadow: 0 0 15px red;
    
}

.card-text{
    font-family:sans-serif;
    font-weight: 500;
    font-size: 20px;
}

/**/

.note-position{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.note{
    background-color: #0d1117;
    color: rgb(255, 255, 255);
    border: 1px solid rgba(16, 87, 149, 0.175);
    padding: 30px;
    border-radius: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 5px 30px#6d97c7;
    
}

.note h2{
    text-align: center;

}

.edit-buttons-position{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
}
.edit-buttons-position .button {
  width: 40%;
}
